# =========================
# Default behavior
# =========================
* text=auto

# =========================
# Source code (text)
# =========================
*.c     text
*.h     text
*.s     text
*.asm   text
*.cfg   text
Makefile text
*.md    text
*.txt   text

# =========================
# NES / game assets (binary)
# =========================
*.chr   binary
*.nes   binary
*.bin   binary
*.png   binary
*.wav   binary
*.nsf   binary

# =========================
# Build outputs (binary)
# =========================
*.o     binary
*.obj   binary
*.map   binary
*.dbg   binary
